@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.flyer:nth-child(2) {
    transition-delay: 150ms;
}

.flyer:nth-child(3) {
    transition-delay: 300ms;
}

.image:nth-child(2) {
    transition-delay: 150ms;
}

.image:nth-child(3) {
    transition-delay: 300ms;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #022B3A;
}

body {
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    margin: 0;
}

main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
}

footer {
    padding: 20px;
    background-color: #022B3A;
    color: #FFFFFF;
}

#welcome p {
    text-align: justify;
}

#kaprodi p {
    text-align: justify;
}

.card {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px;
    background-color: #1F7A8C;
}

.sosmed li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #FFFAFF;
}

.sosmed li a:hover {
    color: #ffb703;
}

a {
    text-decoration: none;
    color: #FFFAFF;
}

a:hover {
    /* background-color: #BAD7E9; */
    font-weight: bold;
    color: #ffb703;
    transition: all .3s ease-in-out;
}

nav {
    padding: 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.profile {
    flex: 3;
}

aside {
    padding-bottom: 20px;
}

figure {
    text-align: center;
}

#content {
    display: flex;
    flex: 7;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

nav ul {
    display: flex;
    gap: 2rem;
    font-size: larger;
    margin: 0;
}

h1 {
    padding-left: 3rem;
}

#news div {
    text-align: center;
    padding: 0px;
}

.dosen {
    display: flex;
    width: 20%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.sosmed ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;
}

.image {
    padding: 2;
    text-align: center;
}

.lecturer {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 160px;
    max-height: 190px;
    border-radius: 10px;
}

.flyer img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
}

.flyer {
    width: 350px;
    align-self: center;
}

.official {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.mobile {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1450px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }
}

@media screen and (max-width: 960px) {
    .flex-container {
        flex-flow: column;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .official {
        flex-direction: column;
        gap: 0;
    }
}
